/* Styling untuk kegiatan */
.kegiatan {
    background-color: #A0D0B3;
    padding: 10px 0;
    width: 100vw;
    position: relative;
}

.zoomimg {
    cursor: zoom-in;
}

.kegiatan h2 {
    color: #353C14;
    font-size: 40px;
    font-weight: bold;
    margin: 35px 0;
    text-align: center;
}

.kegiatan-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15px;
}

.kegiatan-mendatang {
    width: 60%;
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
}

.judul-kegiatan-mendatang {
    font-weight:600;
}

.kegiatan-mendatang table {
    width: 100%;
    border-collapse: collapse;
}

.kegiatan-mendatang table td {
    padding: 10px;
    color: #353C14;
    border-bottom: 3px solid #353C14;
}

.kegiatan-mendatang table td:first-child {
    width: 15%;
    font-weight: bold;
}

.kegiatan-mendatang .cek-kegiatan-button {
    background-color: #353C14;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
}

.kegiatan-mendatang .cek-kegiatan-button:hover {
    background-color: #2c3311;
}

.kegiatan-mendatang table tr td:last-child {
    text-align: center;
}

/* Styling untuk kegiatan lalu */
.kegiatan-lalu {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 80%; */
    padding-bottom: 10px;
}

.kegiatan-lalu img {
    width: 300px;
    height: 200px;
    object-fit: cover; /* Crops excess parts to maintain aspect ratio */
    border: 5px solid #2c3311;
    border-radius: 10px;
}

.deskripsi-kegiatan-lalu {
    margin-top: 5px;
    margin-left: 20px;
    color: #353C14;
    font-size: 16px;
}

.kegiatan-lalu .judul-kegiatan-lalu {
    margin-left: 20px;
    font-size: 20px;
    color: #353C14;
}

.judul-kegiatan-lalu{
    font-weight: 600;
}

.kegiatan-lalu button {
    margin-left: 20px;
    background-color: #353C14;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.kegiatan-lalu button:hover {
    background-color: #2c3311;
}
@media (max-width: 1024px) {
    .kegiatan-lalu img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
}


@media screen and (max-width: 768px) {
    .kegiatan-mendatang {
        width: 90%;
    }
 
    .kegiatan-lalu {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .kegiatan-lalu img {
        width: 80%;
        height: auto;
    }

    .deskripsi-kegiatan-lalu {
        margin-top: 20px;
        font-size: 14px;
        align-items: center;
    }

    .judul-kegiatan-lalu {
        margin-top: 20px;
        font-size: 18px;
    }

    .kegiatan-lalu button {
        margin-top: 10px;
        padding: 8px 15px;
        font-size: 14px;
    }
}