body {
    margin: 0;
    padding: 20px;
}

h1 {
    color: #557C56;
    text-align: center;
}

.form-group label {
    font-weight: bold;
    color: #557C56;
}

.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-secondary {
    background-color: gray;
    color: white;
    border: none;
}

.btn-secondary:hover {
    background-color: darkgray;
}
