body {
    padding-top: 80px;
    height: 100vh;
    background-image: url('/images/login/bambu.jpg'); /* Gambar latar belakang */
    background-size: cover; /* Memastikan gambar menutupi seluruh latar belakang */
    background-position: center; /* Memusatkan gambar */
    font-family: Arial, sans-serif;
    background-repeat: no-repeat; /* Mencegah gambar mengulang */
    background-attachment: fixed; /* Memastikan latar belakang tetap saat menggulir */
    font-family: Arial, sans-serif;
    margin: 0; /* Pastikan tidak ada margin pada body */
    position: relative; /* Mengatur posisi relative untuk kontainer overlay */
}

.login-container {
    max-width: 900px;
    margin: auto;
    background-color: rgb(255, 255, 255); 
    padding: 20px; /* Padding untuk ruang di dalam kontainer */
    border-radius: 10px; /* Sudut melengkung */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Bayangan untuk efek kedalaman */
    display: flex;
    flex-direction: column; /* Mengatur elemen di dalam kontainer secara vertikal */
    align-items: center; /* Memusatkan konten secara horizontal */
    text-align: center; /* Memastikan teks di dalamnya berada di tengah */
}

.login-title {
    font-size: 40px;
    font-weight: bold;
    color: #295A3F;
    margin-bottom: 40px;
}

.inputRegister input,
.gender-select {
    font-size: 15px;
    margin-bottom: 20px;
    border: 2px solid #295A3F;
    border-radius: 10px;
    color: #295A3F;
    background-color: white;
    width: 100%;
    max-width: 700px;
    margin: auto;
    display: block;
}

.inputRegister input::placeholder {
    color: #295A3F;
}

.invalid-feedback {
    font-size: 12px;
    color: red;
    margin-top: 5px;
    text-align: left;
}
.inputRegister button {
    font-size: 24px;
    max-width: 500px;
    font-weight: bold;
    color: white;
    background-color: #295A3F;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 500px;
}

.inputRegister button:hover {
    background-color: #1e4633;
    color: #ffffff;
}

.inputRegister label {
    display: block; /* Menempatkan label di atas input */
    text-align: left; /* Menyelaraskan label ke kiri */
    font-size: 14px;
    margin-bottom: 5px;
    color: #295A3F;
}

.signup-container {
    display: flex;
    justify-content: center; /* Memastikan elemen berada di tengah secara horizontal */
    align-items: center; /* Memastikan elemen berada di tengah secara vertikal */
    margin-top: 20px;
}

.signup-container p {
    font-size: 18px;
    color: black;
    margin-right: 10px; /* Memberikan jarak antara teks dan tombol */
}

.signup-container a {
    font-size: 18px;
    color: #295A3F;
    text-decoration: underline; 
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
}

.signup-container a:hover {
    color: #1e4633;
}


/* Media Queries for mobile responsiveness */
@media (max-width: 768px) {
    .login-container {
        padding: 20px;
    }

    .login-title {
        font-size: 30px;
        margin: auto;
    }

    .inputRegister input,
    .inputRegister button {
        font-size: 12px;
        width: 100%; /* Memastikan elemen mengisi lebar kontainer pada perangkat kecil */
    }

    .signup-container p,
    .signup-container button {
        font-size: 15px;
    }
}
