/* Background untuk seluruh halaman */
body {
    background-color: #FFFBE6;
    font-family: Arial, sans-serif;
}

/* Container dan styling judul */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Tabel Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Tombol "Perbarui" dan "Hapus" */
.update-btn,
.delete-btn {
    border-radius: 5px;
    cursor: pointer;
}

/* Styling khusus untuk header tabel */
.thead-dark th {
    background-color: #557C56; /* Warna latar belakang judul kolom */
    color: #FFFBE6;            /* Warna teks judul kolom */
    font-weight: bold;
}

/* Gaya untuk tabel yang lebih responsif */
@media (max-width: 768px) {
    table {
        display: block; /* Membuat tabel menjadi block untuk perangkat kecil */
        padding-bottom: 45px; /* Memberikan jarak 10px antara tabel */
        margin-bottom: 35px; /* Tambahan margin bawah untuk spasi antar tabel */
    }

    table, thead, tbody, th, td, tr {
        display: block; /* Membuat tabel menjadi block untuk perangkat kecil */
    }
    
    thead tr {
        position: absolute; /* Memposisikan header tabel */
        top: -9999px; /* Menyembunyikan header tabel */
        left: -9999px; /* Menyembunyikan header tabel */
    }
    
    tr {
        margin-bottom: 15px; /* Menambahkan margin bawah pada baris */
    }

    td {
        text-align: right; /* Mengatur teks ke kanan */
        padding-left: 50%; /* Memberikan padding kiri */
        position: relative; /* Posisi relatif untuk setiap cell */
    }

    td:before {
        position: absolute; /* Memposisikan label */
        left: 0; /* Menempatkan di sisi kiri */
        width: 50%; /* Lebar label */
        padding-left: 10px; /* Padding kiri */
        white-space: nowrap; /* Tidak membungkus teks */
        font-weight: bold; /* Menebalkan label */
    }
}
